:root {
    // الألوان الرئيسية
    --primary-color: #DD1C4B;
    --secondary-color: #2BB3CE;
    --accent-color: #FFBF41;
    
    // درجات الألوان
    --primary-light: #ff4773;
    --primary-dark: #b01539;
    --secondary-light: #40d8f3;
    --secondary-dark: #1d8a9e;
} 